{% extends 'base.html.twig' %}

{% block title %}Ajouter adresse{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px">
        <h1>Gérer mes adresses</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="{{ path('app_account') }}" class="w3-btn w3-blue w3-left">Retour à mon compte</a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('account_address') }}" class="w3-btn w3-blue w3-right">Mes adresses</a>
            </div>
        </div>

        <hr>
        {% for success in app.flashes('success') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.address) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.postal) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.country) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.phone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.company) }}
                </div>
                
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
