{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 150px;">
        <div class="card-login col-md-4 mx-auto">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
            {% if app.flashes('success') is defined and app.flashes('success') is not empty %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in app.flashes('success') %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="w3-container w3-teal">
                <h2>Inscription</h2>
            </div>
            <div class="w3-container w3-card-4 pb-5">
                <div class="mt-5">
                    {{ form(form) }}
                </div>
            </div>
            <br>
            <div class="row mt-5">
                <div class="w3-center">
                    <p class="mt-2">Déjà membre ? <a class="w3-text-teal" href="{{ path('app_login') }}">Se connecter</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
