{% extends 'base.html.twig' %}

{% block title %} Récapitulatif {% endblock %}

{% block body %}
    <h1>Récapitulatif de vos produits</h1>
    <p>Vérifiez votre commande avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 form-check bg-light mb-2 pt-2">
                    <p><i class="fas fa-map-marker-alt"></i><b> Adresse de livraison</b></p>
                    {{ delivery|join('<br>')|raw }}<br>
                </div>
                <div class="col-md-12 form-check bg-light mb-2 pt-2">
                    <p><i class="fas fa-map-marker-alt"></i><b> Adresse de facturation</b></p>
                    {{ delivery|join('<br>')|raw }}<br>
                </div>
                <div class="col-md-12 form-check bg-light mb-2 pt-2">
                    <p><i class="fas fa-truck"></i><b> Transporteur</b></p>
                    {{ carrier.name }}<br>
                    {{ (carrier.price / 100)|number_format(2, ',', ',') }} €<br>
                    {{ carrier.description|striptags }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-2"><b>Ma commande</b></div>
            <hr>
            {% set total = null %}

            {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-md-3">
                        <img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" class="img-fluid">
                    </div>
                    <div class="col-md-5 my-auto">
                        <b>{{ product.product.name }}</b><br>
                        <small>
                            {{ product.product.subtitle }}

                        </small>
                    </div>
                    <div class="col-md-4 my-auto">
                        x{{ product.quantity }} - {{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', ',')}} €
                    </div>
                    <hr>
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            <hr>
            <div class="col-md-12 ">
                <strong>Sous-total: </strong>{{ (total / 100) | number_format(2, '.', '.') }} €<br>
                <strong>Livraison : </strong>{{ carrier is not null ? (carrier.price /100)|number_format(2, '.', '.')  }}€<br>
                <strong>Total     : </strong>{{ ((total + carrier.price)/ 100)|number_format(2, '.', '.') }} €

            </div>
            <div class="">
                <a href="" class="w3-btn w3-green btn-block w3-100 mt-3">Payer votre commande</a>
            </div>
        </div>
    </div>
{% endblock %}
